---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Increase the max width of the main content */
.wrapper {
    max-width: 90%; /* Adjust this as needed */
    width: 100%;
}

/* Ensure it looks good on smaller screens */
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1100px; /* Set a fixed width for large screens */
    }
}
